@model BNPL_Web.Common.ViewModels.LoginViewModel
@{
    Layout = null;
}
<style>
    .wrapper1 {
        position: relative;
    }

    input {
        padding-left: 48px;
    }

    .toggle-password {
        position: relative;
        right: 9px;
        bottom: 28px;
        cursor: pointer;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login - BNPL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <meta name="keywords" content="">
    <meta name="author" content="Hamza Saeed">
    <meta name="robots" content="noindex, nofollow">


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
        <!-- toastr -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />

    <!-- Custom JS -->
    <script src="~/assets/js/app.js"></script>
        <script src="~/Scripts/UserManagement/CustomerProfile.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <script>
        $(document).ready(function () {
            $(".toggle-password").click(function () {
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    $(".toggle-password").removeClass("fa fa-eye-slash");
                    $(".toggle-password").addClass("fa fa-eye");
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                    //$(".toggle-password").removeClass("fa fa-eye");
                    $(".toggle-password").addClass("fa fa-eye-slash"); 
                }
            });
        });
        function Verify(){
             $('#OTPConfirm_Modal').modal('show');
        }
    </script>
</head>
<body>
    @{
        var check = ViewBag.Validation;
        var uid = ViewBag.UserId;
        if (check == "Invalid")
        {
        <p>@check</p>    
            <script  type="text/javascript">
           
            
                   $(function () {
                        
            $('#UserId').val('@uid');
           
           
                       debugger;
                     
                       $('#OTPConfirm_Modal').modal('show');
                        
                   });
                </script>
        }
    }

       <div class="float-right mr-2">

                <a href="/Self/Account/BackOfficeLogin" style=" color:white;">
                    <button class="btn btn-primary bg-primary" style=" color:white;">
                    Admin Login
           </button>

                </a>

                </div>
                <div class="account-page"> 
                        <!-- Main Wrapper -->
    <div class="main-wrapper">

        <div class="account-content">

            <div class="container">


                <!-- Account Logo -->
                <div class="account-logo">
                        @*<a href="index.html"><img src="~/assets/img/DOLogo.png" alt="JYA HRMS" style="width:462px"></a>*@
                </div>
                <!-- /Account Logo -->

                <div class="account-box">
                    <div class="account-wrapper">
                        <h3 class="account-title">Customer Login</h3>
                        <p class="account-subtitle">Justify Your Actions</p>

                        <!-- Account Form -->
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                    <div class="form-group">
                                    @Html.LabelFor(m => m.CivilId)
                                    @Html.TextBoxFor(m => m.CivilId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CivilId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                            @Html.LabelFor(m => m.Password)
                                            </div>
                                        </div>
                                        <div class="wrapper1">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            <span toggle="#Password"  class="text-primary text-20 pull-right fa fa-eye-slash font-weight-bold field-icon toggle-password"></span>
                                          </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn-primary account-btn" type="submit">Login</button>

                                        
                                        <a href="/Self/UserManagement/CustomerProfile" class="mt-2">Sign Up</a>
                                    </div>

                            }
                        <!-- /Account Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->

                </div>

                <partial name="~/Areas/SelfPortal/Views/OTPModal/_ModalOTPConfirm.cshtml" />;

</body>
</html>
